@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root {
  --primary1: #495E57;
  --primary2: #F4CE14;
  --secondary1: #EE9972;
  --secondary2: #FBDABB;
  --highlight1: #EDEFEE;
  --highlight2: #333333;
  --font1: "Markazi Text", serif;
  --font2: "Karla", sans-serif;
  --paddingRightLeft: max(calc((100vw - 900px)/2), 5vw);
  @media screen and (max-width: 800px) {
    --paddingRightLeft: 20px;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font2);
}

button, img, .comment {
  border-radius: 16px;
}

nav {
  font-size: 18px;
  font-weight: 500;
}

h1 {
  font-family: var(--font1);
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-family: var(--font1);
  font-size: 40px;
  font-weight: 400;
}

h2 + p {
  font-size: 24px;
  font-weight: 400;
}

button {
  font-size: 24px;
  font-weight: 500;
  color: var(--highlight2);
  background-color: var(--primary2);
  padding: 15px;
  border: none;
  min-width: 209px;
}

button, input {
  cursor: pointer;
}

button:disabled {
  background-color: white;
  color: var(--secondary2);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0 inset;
  cursor: not-allowed;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

.card p {
  font-size: 16px;
  font-weight: 400;
}

header {
  display: flex;
  height: 113px;
  /* width: min(900px, 90vw); */
  /* margin: 0 auto; */
  align-items: center;
  & a {
    color: var(--highlight2);
    text-decoration: none;
  }

  & li {
    display: inline-block;
  }
  & nav {
    width: 100%;
    margin-left: 40px;
  }
  & ul {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    /* width: auto;
    margin: 0 20px; */
    & nav {
      margin-left: 3vw;
    }
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

header, footer, main section {
  padding-inline: var(--paddingRightLeft);
}
footer {
  height: max(441px, max-content);
  padding-block: 70px;
  background-color: var(--highlight2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & a, li {
    color: var(--highlight1);
    text-decoration: none;
    font-weight: 400;
  }
  & img {
    height: 302px;
    width: 200px;
    object-fit: cover;
    object-position: 30% 100%;
    margin-right: 20px;
  }
  & section {
    width: 165px;
  }
  & h1 {
    font-family: var(--font2);
    font-size: 16px;
    color: var(--primary2);
  }
  & nav, ul {
    font-size: 14px;
  }
}

#hero {
  background-color: var(--primary1);
  display: flex;
  justify-content: space-between;
  padding-block: 40px;
  color: var(--highlight1);
  gap: 10px;
  & h1 {
    color: var(--primary2);
    margin-block: -21px;
  }
  & p {
    margin-top: 20px;
  }
  & div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 414px;
  }
  & a {
    margin-top: 68px;
  }
  & img {
    width: 387px;
    height: 415px;
    object-fit: cover;
    position: absolute;
    right: var(--paddingRightLeft);
  }
}

#highlights {
  margin-top: 75px;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#cards {
  margin-block: 56px;
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 16px 16px 0 0;
  width: 271px;
  height: 428px;
  background-color: var(--highlight1);
  overflow: hidden;
  & > img {
    height: 198px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}
.card-body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: calc(428px - 198px);
  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & p {
    margin-top: 24px;
  }
  & h4 {
    margin-top: auto;
    display: flex;
    align-items: center;
  }
  & img {
    margin-left: 10px;
  }
}

.price {
  color: var(--secondary1);
}

#testimonials {
  background-color: var(--primary1);
  padding-top: 83px;
  padding-bottom: 157px;
  & h1 {
    color: var(--primary2);
    text-align: center;
  }
}

#comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}

.comment {
  background-color: var(--primary2);
  width: 210px;
  height: 157px;
  padding: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & h4 {
    display: flex;
    align-items: center;
  }
  & img {
    margin-right: 10px;
  }
}

#about {
  padding-top: 83px;
  padding-bottom: 157px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  & h1 {
    color: var(--primary1);
    margin-block: -21px;
  }
  & h2 {
    color: var(--primary2);
  }
  & p {
    margin-top: 20px;
  }
  & #about-body {
    max-width: 414px;
  }
  & img {
    height: 402px;
    width: 278px;
    object-fit: cover;
  }
}

#chefs1 {
  object-position: 80% 20%;
  margin-left: 170px;
}

#chefs2 {
  object-position: 90% 70%;
  position: absolute;
  /* right: calc(var(--paddingRightLeft) + 170px); */
  right: 170px;
  top: 110px;
  /* bottom: 58px; */
  z-index: -1;
}

#chefsFotos {
  position: relative;
}

form {
  display: grid;
  width: min(100vw - 2 * var(--paddingRightLeft), 500px);
  margin: 50px auto;
  gap: 30px;
  justify-content: center;
  /* background-color: var(--highlight1); */
  padding: 50px;
  position: relative;
  box-shadow: var(--primary1) 0 4px 4px 0;
  border-radius: 16px;
  & h2 {
    text-align: center;
    color: var(--highlight2);
  }
}

#occasion {
  --icon: url(./assets/Champagne.svg);
}

#res-time {
  --icon: url(./assets/Time.svg);
}

label input, .custom-select {
  appearance: none;
  background-color: var(--highlight1);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0;
  font-size: 16px;
  border-radius: 16px;
  text-align: center;
  padding: 15px;
  color: var(--highlight2);
  border: none;
}

.selected {
  color: var(--highlight1);
  background-color: var(--primary1);
}

.custom-select {
  background: url(./assets/Expand\ Arrow.svg) no-repeat 97%, var(--icon) no-repeat 3%, var(--highlight1);
  font-weight: 700;
  &.selected {
    background: url(./assets/Expand\ Arrow\ white.svg) no-repeat 97%, var(--primary1);
  }
}

option {
  text-align: center;
  background-color: var(--highlight1);
  /* border-bottom: var(--highlight2) dashed 1px; */
}

label {
  color: var(--highlight2);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-select-container {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 57px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background-color: var(--highlight1);
  z-index: 1;
  & div {
    border-bottom: var(--highlight2) dashed 1px;
    padding: 10px;
  }
  &.show {
    display: block;
  }
}

#confirm {
  text-align: center;
  margin-block: 20vh;
  color: var(--primary1);
}