@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root {
  --primary1: #495E57;
  --primary2: #F4CE14;
  --secondary1: #EE9972;
  --secondary2: #FBDABB;
  --highlight1: #EDEFEE;
  --highlight2: #333333;
  --font1: "Markazi Text", serif;
  --font2: "Karla", sans-serif;
}
body {
  margin: 0;
  font-family: var(--font2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, img {
  border-radius: 16px;
}

nav {
  font-size: 18px;
  font-weight: 500;
}

h1 {
  font-family: var(--font1);
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-family: var(--font1);
  font-size: 40px;
  font-weight: 400;
}

h2 + p {
  font-size: 24px;
  font-weight: 400;
}

button {
  font-size: 24px;
  font-weight: 500;
  color: var(--highlight2);
  background-color: var(--primary2);
}

.card {
  border-radius: 16px 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

.card p {
  font-size: 16px;
  font-weight: 400;
}

#root {
  display: grid;
  grid-auto-rows: 113px 1fr max(441px, max-content);
}

header {
  display: flex;
  width: min(900px, 90vw);
  margin: 0 auto;
  align-items: center;
  & a {
    color: var(--highlight2);
    text-decoration: none;
  }

  & li {
    display: inline-block;
  }
  & nav {
    width: 100%;
    margin-left: 40px;
  }
  & ul {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    width: auto;
    margin: 0 20px;
    & nav {
      margin-left: 3vw;
    }
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

footer {
  padding: 70px max(calc((100vw - 900px)/2), 5vw);
  background-color: var(--highlight2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & a, li {
    color: var(--highlight1);
    text-decoration: none;
    font-weight: 400;
  }
  & img {
    height: 302px;
    width: 200px;
    object-fit: cover;
    object-position: 30% 100%;
    margin-right: 20px;
  }
  & section {
    width: 165px;
  }
  & h1 {
    font-family: var(--font2);
    font-size: 16px;
    color: var(--primary2);
  }
  & nav, ul {
    font-size: 14px;
  }

  @media screen and (max-width: 800px) {
    padding: 70px 20px;
  }
}